<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":2,"size_y":1},{"col":2,"row":1,"size_x":3,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":4,"size_y":1},{"col":5,"row":2,"size_x":3,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":4,"size_y":1}]')
  Dashing.widget_base_dimensions = [264, 340]
  Dashing.numColumns = 7
  Dashing.numRows = 3
});
</script>

<% content_for :title do %>Pipedrive Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/adzerk_logo.png"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="" data-view="Text" data-title="Sales Dashboard" data-text="This dashboard displays data from pipedrive. To control what shows on the screen, go to http://192.168.1.38:8080/"></div>
    </li>
    
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/pipedrive_logo.png"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="example_widget" data-view="Meter" data-moreinfo="Percent of Goal" data-title="Quarterly Goal" data-min="0" data-max="100"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="3" data-sizey="1">
      <div data-id="example_widget" data-view="Meter" data-moreinfo="Example" data-title="Example Widget" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stage1" data-view="Number" style="background-color:#4b4b4b;" data-moreinfo="Current Value in Pipeline"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="stage3" data-view="Number" style="background-color:#ff5332;"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="stage5" data-view="Number" style="background-color:#4b4b4b;"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="4" data-sizey="1">
      <div data-id="overall_pipeline" data-view="Number" style="background-color:#ff5332;"></div>
    </li>
  </ul>
</div>
